// --- Media Queries variables ---

// mobile portrait
$portrait: "(min-width: 1px) and (max-width: 479px) and (orientation: portrait)"

// mobile landscape
$landscape: "(min-width: 480px) and (max-width: 900px) and (orientation: landscape)"

// tablet portrait
$tablet: "(min-width: 768px) and (max-width: 1023px) and (orientation: portrait)"

// slicknav breakpoint
$slicknav_breakpoint: "(min-width: 1px) and (max-width: 1024px)"




// --- Colorz ---

$nero: black
$gradient: linear-gradient(45deg, #fc00ff 20%, #00dbde 40%, #00dbde 60%, #fc00ff 80%)
$gradient2: linear-gradient(45deg, #000000 20%, #000000 40%, #000000 60%, #000000 80%)



// --- Typography ---

// $var: (desktop, tablet portrait, mobile landscape, mobile portrait, 'font-family')
$h1: (1.7vw 4vw 2vw 3vw 'Futura')
$h2: (1.3vw 4vw 2vw 3vw 'Futura')
$h3: (6vw 4vw 2vw 3vw 'Futura')
$h4: (1.3vw 4vw 2vw 3vw 'Futura')

$p1: (9vw 9vw 9vw 9vw 'Futura')



// --- Text gradient animation


@mixin gradient
  background: linear-gradient(232deg, #ed2465, #3492ba, #1ed8ad, #ed2465)
  background-size: 400% 400%

  -webkit-animation: AnimationName 20s ease infinite
  -moz-animation: AnimationName 20s ease infinite
  animation: AnimationName 20s ease infinite

@-webkit-keyframes AnimationName
    0%
      background-position: 0% 92%
    50%
      background-position: 100% 9%
    100%
      background-position: 0% 92%

@-moz-keyframes AnimationName
    0%
      background-position: 0% 92%
    50%
      background-position: 100% 9%
    100%
      background-position: 0% 92%

@keyframes AnimationName
    0%
      background-position: 0% 92%
    50%
      background-position: 100% 9%
    100%
      background-position: 0% 92%
