// --- media queries variables ---

// mobile portrait
$portrait: "(min-width: 1px) and (max-width: 479px) and (orientation: portrait)"

// mobile landscape
$landscape: "(min-width: 480px) and (max-width: 900px) and (orientation: landscape)"

// tablet portrait
$tablet: "(min-width: 768px) and (max-width: 1023px) and (orientation: portrait)"

// slicknav breakpoint
$slicknav_breakpoint: "(min-width: 1px) and (max-width: 1024px)"




// --- Colorz ---

$nero: black
$gradient: linear-gradient(45deg, #fc00ff 20%, #00dbde 40%, #00dbde 60%, #fc00ff 80%)


// --- typography ---

// $var: (desktop tablet portrait mobile landscape mobile portrait 'font-family')
$h1: (1.7vw 4vw 2vw 3vw 'Futura')
$h2: (1.3vw 4vw 2vw 3vw 'Futura')
$h3: (6vw 4vw 2vw 3vw 'Futura')
$h4: (1.3vw 4vw 2vw 3vw 'Futura')

$p1: (5vw 4vw 2vw 3vw 'Futura')
