@import url(font-face.css);
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}

h1 {
  font-family: "Futura";
  font-size: 1.7vw;
  font-style: italic !important;
  letter-spacing: 1.5px;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h1 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h1 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h1 {
    font-size: 4vw;
  }
}

h2 {
  font-family: "Futura";
  font-size: 1.3vw;
  font-style: italic !important;
  letter-spacing: 1.5px;
  line-height: 36px;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h2 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h2 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h2 {
    font-size: 4vw;
  }
}

h3 {
  font-family: "Futura";
  font-size: 6vw;
  letter-spacing: 2px;
  font-weight: 500;
  display: block;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h3 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h3 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h3 {
    font-size: 4vw;
  }
}

h4 {
  font-family: "Futura";
  font-size: 1.3vw;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h4 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h4 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h4 {
    font-size: 4vw;
  }
}

p {
  font-family: "Futura";
  font-size: 9vw;
  letter-spacing: 1.2px;
  font-weight: bold;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  p {
    font-size: 9vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  p {
    font-size: 9vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  p {
    font-size: 9vw;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1, h2, h3, h4 {
  z-index: 2 !important;
}

p {
  color: linear-gradient(45deg, #fc00ff 20%, #00dbde 40%, #00dbde 60%, #fc00ff 80%);
}

h1, h2, h4 {
  color: black;
}

#infoROW a:link, #infoROW a:active, #infoROW a:visited {
  background: linear-gradient(45deg, #000000 20%, #000000 40%, #000000 60%, #000000 80%);
  background-size: 400% auto;
  background-clip: text !important;
  text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-decoration: none;
}

#infoROW a:hover {
  background: linear-gradient(232deg, #ed2465, #3492ba, #1ed8ad, #ed2465);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

#navROW {
  display: flex;
  padding: 0 20px;
}

#navROW h1, #navROW h2 {
  opacity: 0;
}

.logoCOL, .menuCOL {
  width: 6%;
  padding-top: 20px;
}

.menuCOL {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.logoCOL h1 {
  position: fixed;
}

.menuCOL h1 {
  right: 16px;
}

.socialCOL {
  position: fixed;
  right: 20px;
  bottom: 26px;
  z-index: 2 !important;
}

.socialCOL * {
  margin-bottom: 20px;
}

.menuCOL * {
  text-align: right;
}

.testoCOL {
  width: 88%;
}

.testoDIV {
  margin-top: 120px;
  background-clip: text !important;
  text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-decoration: none;
  background-color: black;
}

#infoROW {
  margin-top: 200px;
  position: absolute;
  z-index: 3;
}

#infoROW > * {
  display: block;
}

#infoROW h3 {
  margin-bottom: 25px;
}

body {
  margin: 0 !important;
  padding: 0;
  background-color: #f7f0cf;
}

.intro {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 0;
}

#particles {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#particles canvas {
  position: fixed;
  opacity: 0.3;
}
