@import font-face.css
@import variables.sass


// --- --- Typography --- ---

// h1
h1
  font-family: nth($h1, 5)
  font-size: nth($h1, 1)
  @media #{$portrait}
    font-size: nth($h1, 4)
  @media #{$landscape}
    font-size: nth($h1, 3)
  @media #{$tablet}
    font-size: nth($h1, 2)
  font-style: italic!important
  letter-spacing: 1.5px

// h2
h2
  font-family: nth($h2, 5)
  font-size: nth($h2, 1)
  @media #{$portrait}
    font-size: nth($h2, 4)
  @media #{$landscape}
    font-size: nth($h2, 3)
  @media #{$tablet}
    font-size: nth($h2, 2)
  font-style: italic!important
  letter-spacing: 1.5px
  line-height: 36px

// h3
h3, #infoROW a
  font-family: nth($h3, 5)
  font-size: nth($h3, 1)
  @media #{$portrait}
    font-size: nth($h3, 4)
  @media #{$landscape}
    font-size: nth($h3, 3)
  @media #{$tablet}
    font-size: nth($h3, 2)
  letter-spacing: 2px
  font-weight: 500
  display: block

#infoROW *
  padding-top: 30px!important
  display: block

// h4
h4
  font-family: nth($h4, 5)
  font-size: nth($h4, 1)
  @media #{$portrait}
    font-size: nth($h4, 4)
  @media #{$landscape}
    font-size: nth($h4, 3)
  @media #{$tablet}
    font-size: nth($h4, 2)

// p1
p
  font-family: nth($p1, 5)
  font-size: nth($p1, 1)
  @media #{$portrait}
    font-size: nth($p1, 4)
  @media #{$landscape}
    font-size: nth($p1, 3)
  @media #{$tablet}
    font-size: nth($p1, 2)
  letter-spacing: 1.2px

h1, h2, h3, h4, p
  margin: 0

// --- Typography colorz ---

// Main

p
  color: $gradient

h1, h2, h4
  color: $nero

// --- Links ---




#infoROW
  a:link, a:active, a:visited
    background: $gradient2
    background-size: 400% auto
    background-clip: text!important
    text-fill-color: transparent!important
    -webkit-background-clip: text!important
    -webkit-text-fill-color: transparent!important
    text-decoration: none

#infoROW
  a:hover
    @include gradient
// --- --- --- Layout (margin, padding, width, height, background-color, ...)

// --- Header

#navROW
  display: flex

#navROW
  h1, h2
    opacity: 0

.logoCOL, .menuCOL
  width: 6%
  padding-top: 20px

.spaceCOL
  width: 88%
  height: 120px
  background: transparent
  position: fixed

.testoCOL
  width: 88%

.testoDIV
  margin-top: 120px
  background-clip: text!important
  text-fill-color: transparent!important
  -webkit-background-clip: text!important
  -webkit-text-fill-color: transparent!important
  text-decoration: none
  @include gradient

.testoDIV
  opacity: 0
  margin-top: 280px

.menuCOL
  display: flex
  flex-grow: 1
  flex-direction: column

.logoCOL h1, .menuCOL h1
  position: fixed

.menuCOL h1
  right: 16px

.socialCOL
  position: fixed
  right: 20px
  bottom: 26px

.menuCOL *
  text-align: right

#infoROW
  margin-top: 200px

#infoROW h3
  margin-bottom: 35px

#policyROW
  margin-top: 50px
  margin-bottom: 26px
  display: flex

#policyROW a
  margin-right: 24px


// --- Body


// --- Footer

// --- Layout adjust

body
  margin: 0!important
  padding: 0 20px 0px 20px


// --- Text gradient animation
