@import url(font-face.css);
h1 {
  font-family: "Futura";
  font-size: 1.7vw;
  font-style: italic !important;
  letter-spacing: 1.5px;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h1 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h1 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h1 {
    font-size: 4vw;
  }
}

h2 {
  font-family: "Futura";
  font-size: 1.3vw;
  font-style: italic !important;
  letter-spacing: 1.5px;
  line-height: 36px;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h2 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h2 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h2 {
    font-size: 4vw;
  }
}

h3, #infoROW a {
  font-family: "Futura";
  font-size: 6vw;
  letter-spacing: 2px;
  font-weight: 500;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h3, #infoROW a {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h3, #infoROW a {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h3, #infoROW a {
    font-size: 4vw;
  }
}

h4 {
  font-family: "Futura";
  font-size: 1.3vw;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  h4 {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  h4 {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  h4 {
    font-size: 4vw;
  }
}

p {
  font-family: "Futura";
  font-size: 5vw;
  letter-spacing: 1.2px;
}

@media (min-width: 1px) and (max-width: 479px) and (orientation: portrait) {
  p {
    font-size: 3vw;
  }
}

@media (min-width: 480px) and (max-width: 900px) and (orientation: landscape) {
  p {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  p {
    font-size: 4vw;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

p {
  color: linear-gradient(45deg, #fc00ff 20%, #00dbde 40%, #00dbde 60%, #fc00ff 80%);
}

h1, h2, h4 {
  color: black;
}

.gradient {
  color: linear-gradient(45deg, #fc00ff 20%, #00dbde 40%, #00dbde 60%, #fc00ff 80%) !important;
}

a:link, a:visited, a:active {
  background: black;
  background-size: 200% auto;
  color: black;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.coloredLINK:hover {
  background: linear-gradient(45deg, #fc00ff 20%, #00dbde 40%, #00dbde 60%, #fc00ff 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

#navROW {
  display: flex;
}

.logoCOL, .menuCOL {
  width: 6%;
  padding-top: 20px;
}

.spaceCOL {
  width: 88%;
  height: 120px;
  background: transparent;
  position: fixed;
}

.testoCOL {
  width: 88%;
}

.testoDIV {
  margin-top: 120px;
  background: linear-gradient(45deg, #fc00ff 20%, #00dbde 40%, #00dbde 60%, #fc00ff 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 12s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.menuCOL {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.logoCOL h1, .menuCOL h1 {
  position: fixed;
}

.menuCOL h1 {
  right: 16px;
}

.socialCOL {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.menuCOL * {
  text-align: right;
}

#infoROW {
  margin-top: 200px;
}

#infoROW h3 {
  margin-bottom: 35px;
}

#policyROW {
  margin-top: 50px;
  margin-bottom: 26px;
  display: flex;
}

#policyROW a {
  margin-right: 24px;
}

body {
  margin: 0 !important;
  padding: 0 16px 0px 16px;
}

.linear-wipe {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
